<section id="about-text">
        
    <p>I am currently studying <a class="ixd" href="http://ixdbelfast.org/">Interaction Design</a> at Belfast school of Art, exploring the world of design and tackling the challenges that come with it. I have always had a passion for art and design, more so when I started my journey as an IXD student. Throughout my course I have developed a extensive design knowledge and skills. It has opened my mind to many design practices allowing me understand every aspect of design. Design for me is a journey of discovery, allowing me to explore endless possibilities and continue learning new techniques everyday.</p>
    
    
</section>
    

<section class="what-i-do">
    
    <h2>MY SKILLS</h2>
    <hr>
    
    </section>

 <section class="my-skills">
     
     <img class="skills-icons" src="images/skills.svg" alt="My skills icons"/>

     </section>

<div class="cv-button">
    <a class="home-contact-button" href="../images/cv.pdf">DOWNLOAD MY CV</a>
        </div>