<section class="bird-brief">
        
    <h2>BRIEF</h2>
    <hr>
    <p>This narrative website was completed as part of my narrative and storytelling module at universtiy. The main focus was to examine how storytelling can be used to enhance content. We were given an existing piece of content which included a number of sections relating to New Zealand and the 'extinct' Takahē bird. We were then required to apply our own creative twist to the story and present it on a single page website. </p>
    
        </section>
        
        
<section class="approach">
       <h2>APPROACH</h2> 
        <hr>
        <p>My first steps involved carrying out research on New Zealand and the Takahē bird to ensure I had a full understanding on the content. I put together a <a class="style-tile" href="http://martine-mcgrath.tumblr.com/post/153314051616/digital-moodboard-and-style-tile-for-the-takahe">digital moodboard</a> which I then further developed into a <a class="style-tile" href="http://martine-mcgrath.tumblr.com/post/153314051616/digital-moodboard-and-style-tile-for-the-takahe">style tile</a>  to create a look and feel for the site and show elements I wish to include.
            
<p>I considered my target audience and how that will affect the overall design of my webpage.I decied to design my single page website targetted at young children. I designed illustrations to accompany sections of the text and take readers on a journey through the story from the use of visuals. I feel that illustrations help children stay engaged and get an understanding of the story quite quickly. I carefully organised the content so that the story flows, unfolding information about the Takahē bird. I also choose a handwritten style typeface for the headers to create the fun, quirky, entertaining aspects I am also trying to create with the illustrations.</p>
    
    
     <img class="site-sketches" src="images/bird-sketches-01.svg"/>
    
        </section>

          
<section class="outcome">
  
        <h2>FINISHED OUTCOME</h2> 
        <hr>
    
    <p>For the final design I based my illustrations on aspects of New Zealand and the Takahē birds habitat. I organised the illustrations to illustrate the text and allow the reader's imagination flow while reading the story.</p>
    
    <img class="bird-mockup" src="images/final-bird-site-01.svg"/>
    
    <div class="bird-site-button">
    <a class="home-contact-button" href="http://martinemcgrath.github.io/IXD302-bird-project/index.html">VIEW WEBSITE</a>
        </div>
         
        </section>