    <footer>  
        
        
        <div class="social">
		<ul> 
<li><a href="http://martine-mcgrath.tumblr.com/"><img src="images/social/tumblr.svg" alt="Follow me on Tumblr" /></a></li>
<li><a href="https://github.com/martinemcgrath"><img src="images/social/github.svg" alt="Follow me on GitHub" /></a></li>
<li><a href="https://www.flickr.com/photos/martinemcgrath/"><img src="images/social/flickr.svg" alt="Follow me on Flickr" /></a></li>
            </ul>
	</div>
    
        <p class="small">&copy; Designed by Martine McGrath 2016.</p>
        
         <span id="contact"> 

    </footer>
        
<script>
    smoothScroll.init();
</script>
    
<script type="text/javascript">
      $(document).ready(function(){
        $('.handle').on('click', function(){
          $('nav ul').toggleClass('show');
        });
      });
    </script>
    
    
</body>
</html>