 <div class="hero">
        </div>
        
        <header class="main">
            
     
   <img class="animatedimage" src="images/line-marque.svg" alt="Viusal Marque"/> 
    
    <h1 class="title">MARTINE MCGRATH</h1>
    <p class="intro">Hello and Welcome to my portfolio site. I am Illustrator and Interaction Designer based in Belfast, Northern Ireland, currently studying Interaction Design.</p>
    
    
    <div class="about-button">
    <a class="button" href="about.html">MORE ABOUT ME</a>
        </div>
            
            <div class="arrow">
            <a data-scroll href="#portfolio"><img src="images/arrow.svg" alt="arrow to portfolio" /></a>
                </div>
            
    
</header>