 <nav>
      <div class="res-nav">
        <a href="index.html"><img class="logo" src="images/icon.svg" width="40" height="40" alt="Monogram"/></a>
        <button class="handle">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="http://martine-mcgrath.tumblr.com/">JOURNAL</a></li>
        <li><a href="mailto:martinemcgrath@hotmail.com">CONTACT</a></li>
      </ul>
    </nav>